body{
    background-color: rgb(224, 142, 224);
        color: rgb(20, 19, 19);
}


.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.bio {
    display: flex;
    align-items: center;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}
