*{
    margin: 0;
    padding: 0;
    }
    /* selector de etiqueta */
    body{
        background-image: url(/img/fondo\ pastel\ 3.jpeg);
        background-size: cover;
         background-repeat: no-repeat;
         background-position: center;
         color:black;
    }

/* Estilo del contenedor del formulario */

  /* Estilo de los campos del formulario */
  .contenedor[type="text"],
  .contenedor[type="email"],
  .contenedortextarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  #contenedor {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .contact-form textarea {
    height: 100px;
  }
  
  /* Estilo del botón de enviar */
  .contact-form .btn-submit {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5eff00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .contact-form .btn-submit:hover {
    background-color: #0d0e0d;
  }
  