/* selector universal */

*{
    margin: 0;
    padding: 0;
    }
    /* selector de etiqueta */
body{
    background-color: rgb(229, 173, 196);
        color: rgb(250, 250, 250);
}
/* selector id*/
#contenedor{
    width: 900px;
    height: 5500px;
    background-color: rgb(206, 137, 167);
    margin: 10px;
    padding: 20px;

}
li a:hover{
    color: rgb(231, 229, 231);
    font-size: 20px;
    text-decoration: none;
    list-style: none;
}
ul{
    text-align: center;
    padding: 10px;
}
li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}
img:hover{
    width: 50%;
}
.img{
    width: 50%;
    border-radius: 30px;
    justify-items: center;
}
.texto{
    text-align: justify;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: rgb(0, 0, 0); 
}
#pie{
    height: 60px;
    background-color: rgb(182, 121, 164);
    margin: 1.5em;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}
#pie h4{
    padding: 15px;
    font-size: 30px;
    background-color: rgb(197, 103, 197);
}
#encabezado{
    width: 90%;
    background-color: rgb(36, 22, 28);
    margin: 1em;
    border-radius: 5px;
    text-align: center;
}
#menu{
   

    height: 35px;
    background-color: rgb(201, 102, 145);
    margin:  1em;
    border-radius: 5px;

}

