/*Selector Universal*/

*{
    margin: 0;
    padding: 0;
 
 }
 /*Selector de Etiqueta*/
 
 body{
   background-image: url(/img/fondo\ pastel\ 3.jpeg);
   background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:black;
 
 }
 /*Selector Id*/

 #encabezado{
    width: 85%;
    margin: 1em;
    border-radius: 5px;
    text-align: center;
 }
 
 
 ul{
    text-align: center;
    padding: 10px;
 
 }
 li{
    display: inline;
    line-height: 1.2;
    padding: 10px 30px;
    margin: 3em;
 }
 li a:hover{
    color: rgb(236, 226, 228);
    font-size: 20px;
    text-decoration: none;
    list-style: none;   
 }
 /*Selector de clase*/
 .img{
    width: 30%;
    border-radius: 30px;
    justify-items: center;
 }
 .texto{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: rgb(0, 0, 0);
 }
  /*card*/
 
  .card{
    
    box-shadow: 0 4px 8px 0 black;
    overflow: hidden;
    max-width: 300px;
    margin: 10px;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
    height: 350px;
    width: 250px;
    justify-content: space-between;
  }
  .cardc{
    
   box-shadow: 0 4px 8px 0 black;
   overflow: hidden;
   max-width: 300px;
   margin: 10px;
   text-align: center;
   border: 2px solid;
   border-radius: 10px;
   height:900px;
   width: 800px;
   justify-content: space-between;
 }
 

  .title{
 
    color: chocolate;
    font-size: 10px;
  }
  button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  } 
  .linea {
    width: 80%;
    height: 1px;
    background-color: #000; 
    margin: 20px auto;
 }

 
 .Flex{
   display: flex;
   flex-direction:row;
   width: 90%;
   height: 30%;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   padding: 10px;
  }

.Flex1{
   display: flex;
   flex-direction:row;
   width: 90%;
   height: 30%;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   justify-content: center;
   padding: 10px;
 
}
/*menu Hamburgesa*/

body{
   background-color: rgb(235, 224, 236);
   color: black;
   font-family: Arial, Helvetica, sans-serif;
}
.container{
   max-width: 1110;
   margin: 0 auto;
}

.menu{
 
   top: 0;
   left: 0;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 1000;
}

.menu .navbar ul li{
   position: relative;
   float: left;
}
.menu .navbar ul li a{
   font-size: 18px;
   padding: 20px;
   color: rgb(10, 10, 10);
   display: block;
}
.menu .navbar ul li a:hover{
   color: rgb(122, 13, 224);
   max-height: fit-content;
}#menu{
   display: none;
}.menu-icon{
   width: 25px;
}
.menu label{
   cursor: pointer;
   display: none;
}
@media (max-width:991px) {
   .menu{
       padding: 30px;
       justify-content: left;
       justify-content: top;
   }
   .menu label{
       display: initial;
   }
   .menu .navbar{
       position: absolute;
       top:50%;
       left: 0;
       right: 0;
       background-color: rgb(182, 81, 177);
       display: none;
       width: 290px;
   }
   .menu .navbar ul li{
       width: 100%;
       margin-bottom: 0%;
   }
   #menu:checked~.navbar{
       display: initial;
   }
   
}
.contenedor menu{
   width: 900px;
   height: 5500px;
   background-color: rgb(175, 112, 138);
   margin: 10px;
   padding: 20px;

}