/* selector universal */

*{
margin: 0;
padding: 0;
}
/* selector de etiqueta */
body{
    background-color: rgb(175, 112, 138);
        color: rgb(250, 250, 250);
}
/* selector id*/
#contenedor{
     width: 900px;
     height: 5500px;
     background-color: rgb(175, 112, 138);
     margin: 10px;
     padding: 20px;

}
 #encabezado{
    width: 90%;
    background-color: rgb(175, 112, 138);
    margin: 1em;
    border-radius: 5px;
    text-align: center;

 }
 #menu{
    height: 35px;
    background-color: rgb(175, 112, 138);
    margin:  1em;
    border-radius: 5px;
 }
 /*selector de etiquetas */
ul{
    text-align: center;
    padding: 10px;
}
li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}

/* selector de clase */
.img{
    width: 50%;
    border-radius: 30px;
    justify-items: center;
}
.texto{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 5px 25px;
    color: aliceblue; 
}
#pie{
    height: 60px;
    background-color: dimgray;
    margin: 1.5em;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}
#pie h4{
    padding: 15px;
    font-size: 30px;
    background-color: rgb(199, 135, 199);
}

/* selector universal */

*{
    margin: 0;
    padding: 0;
    }
    /* selector de etiqueta */
    body{
        background-color: rgb(175, 112, 138);
        color: rgb(250, 250, 250);
    }
    /* selector id*/
    #contenedor{
         width: 900px;
         height: 5500px;
         background-color: rgb(216, 151, 202);
         margin: 10px;
         padding: 20px;
    
    }
.encabezado{
    width: 90%;
    background-color: rgb(211, 129, 164);
    margin: 3em;
    border-radius: 5px;
    text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu{
    height: 150px;
    width: 100%;
    background-color: rgb(211, 129, 164);
    margin:  1em;
    border-radius: 10px;
}