/*Selector Universal*/

*{
   margin: 0;
   padding: 0;

}
/*Selector de Etiqueta*/

body{
  background-image: url(/img/fondo\ carro\ 2.jpeg);
  background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   color:black;

}
/*Selector Id*/

#encabezado{
   width: 85%;
   margin: 1em;
   border-radius: 5px;
   text-align: center;
}
#menu{
   height: 3%;
   margin: 1em;
   border-radius: 5px;
}
/*Selector de etiqueta*/
ul{
   text-align: center;
   padding: 10px;

}
li{
   display: inline;
   padding: 10px 30px;
   margin: 3em;
}
li a:hover{
   color: rgb(149, 224, 134);
   font-size: 20px;
   text-decoration: none;
   list-style: none;   
}
/*Selector de clase*/
.img{
   width: 30%;
   border-radius: 30px;
   justify-items: center;
}
.texto{
   text-align: justify;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 20px;
   padding: 5px 25px;
   color: rgb(0, 0, 0);
}
 /*card*/

 .card{
   
   box-shadow: 0 4px 8px 0 black;
   overflow: hidden;
   max-width: 300px;
   margin: 10px;
   text-align: center;
   border: 2px solid;
   border-radius: 10px;
   height: 350px;
   width: 250px;
   justify-content: space-between;
 }
 
 
 .title{

  
   font-size: 10px;
 }
 button{
   border: none;
   outline: 0;
   display: inline-block;
   padding: 8px;
   color: white;
   background-color: #000;
   text-align: center;
   cursor: pointer;
   width: 100%;
   font-size: 18px;
 }
 .anta-regular {
   font-family: "Anta", sans-serif;
   font-weight: 400;
   font-style: normal;
 } 
 
html{
   scroll-behavior: smooth;
}

.Flex{
   
   display: flex;
   flex-direction:row;
   width: 90%;
   height: 30%;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   padding: 10px;
   
 }

 







 .container{
  max-width: 1110;
  margin: 0 auto;
}
.fondo{
  padding: 60px 0;
  background-color: rgb(76, 177, 114);
}
.menu{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
.logo{
  font-size: 30px;
  color: rgb(22, 21, 20);
  font-weight: 800;
  text-transform: uppercase;
}
.menu .navbar ul li{
  position: relative;
  float: left;
}
.menu .navbar ul li a{
  font-size: 18px;
  padding: 20px;
  color: rgb(163, 15, 15);
  display: block;
}
.menu .navbar ul li a:hover{
  color: rgb(127, 255, 180);
}#menu{
  display: none;
}.menu-icon{
  width: 25px;
}
.menu label{
  cursor: pointer;
  display: none;
}
@media (max-width:991px) {
  .menu{
      padding: 30px;
  }
  .menu label{
      display: initial;
  }
  .menu .navbar{
      position: absolute;
      top:100%;
      left: 0;
      right: 0;
      background-color: black;
      display: none;
  }
  .menu .navbar ul li{
      width: 100%;
  }
  #menu:checked~.navbar{
      display: initial;
  }
  
}

.mene {
   float: left;
   margin-right: 20px;
   display: grid;
  
}

.mene ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.mene ul li {
   display: inline;
}

.mene ul li a {
   text-decoration: none;
   padding: 10px;
   color: #333;
}

.mene ul li a:hover {
   background-color: #ddd;
}
.mene center {
   display: flex;
   justify-content: center;
   align-items: center;
}
#MENU{
   height: 35px;
   background-color: rgb(175, 112, 138);
   margin:  1em;
   border-radius: 5px;
}




/*media*/

*{
   padding: 0;
}
.titulo{
   font-size: 40px;
   text-align: center;
}
.subtitulo{
   margin: 10px;
   text-align: center;
}
.img{
   display: block;
   width: 90%;
   margin: 0 auto;
   margin-top: 30px;
}
.contener{
   border: 2px solid;
   margin: 10px;
   padding: 10px;
   background-color: rgb(63, 124, 179);
}
@media screen  and (max-width:1200px){
   body{
       background-color: rgb(226, 73, 168);
       color: rgb(5, 70, 13);
   }
   .titulo{
       font-size: 30px;
   }
}
@media screen and (max-width:500px) {
   body{
       background-color: rgb(49, 231, 25);
       color: rgb(16, 17, 14);
   }
   .titulo{
       font-size: 25px;
   }
   .img{
       width: 70%;
   }
}

@media screen and (max-width:300) {
   body{
       background-color: crimson;
       color: blue;
   }
   .titulo{
       font-size:20px;
   }
   .img{
       width: 60%;
   }
}
@media screen and (max-width:200){
   body{
       background-color: rgb(39, 46, 139);
       color: rgb(134, 18, 250);
   }
   .titulo{
       font-size: 15px;
   }
   .img{
       width: 50%;
   }
}