

@import url('https://fonts.googleapis.com/css2?family=Kite+One&family=Mountains+of+Christmas:wght@400;700&family=Parisienne&display=swap');



/* selector universal */

*{
margin: 0;
padding: 0;
}
/* selector de etiqueta */
.body{
    background-color: rgb(78, 126, 71);
        color: rgb(250, 250, 250);
}
/* selector id*/

 .encabezado{
    width: 90%;
    background-color: rgb(59, 139, 90);
    margin: 1em;
    border-radius: 5px;
    text-align: center;

 }
 .menu{
    height: 35px;
    background-color: rgb(59, 139, 90);
    margin:  1em;
    border-radius: 5px;
 }
 /*selector de etiquetas */
ul{
    text-align: center;
    padding: 10px;
}
li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}
img:hover{
    width: 50%;
}
li a:hover{
    color: crimson;
    font-size: 20px;
    text-decoration: none;
    list-style: none;
}
/* selector de clase */
.img{
    width: 50%;
    border-radius: 30px;
    justify-items: center;
}
.texto{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 5px 25px;
    color: aliceblue; 
}
#pie{
    height: 60px;
    background-color: dimgray;
    margin: 1.5em;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}
#pie h4{
    padding: 15px;
    font-size: 30px;
    background-color: rgb(59, 139, 90);
}

/* selector universal */

*{
    margin: 0;
    padding: 0;
    }
    /* selector de etiqueta */
    body{
        background-color: rgb(175, 112, 138);
        color: rgb(250, 250, 250);
    }
    /* selector id*/
    
#encabezado{
    width: 90%;
    background-color: rgb(211, 129, 164);
    margin: 3em;
    border-radius: 5px;
    text-align: center;
    font-family: cursive;
}
#menu{
    height: 35px;
    background-color: rgb(211, 129, 164);
    margin:  2em;
    border-radius: 5px;
}
/* card */
.card{
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    overflow: hidden;
    max-width: 360px;
    margin: auto;
    text-align: center;
    border: 2px solid;
    border-radius: 10px;
}
.card:hover{
    max-width: 310px;
}

.title{
    color: rgb(12, 7, 7);
    font-size: 18px;
}
button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.kite-one-regular {
    font-family: "Kite One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

 .contenedorflex{
    display: flex;
    width: 1500px;
    height: 400px;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(59, 139, 90);
    padding: 10px;
    border: 2px solid black;
    justify-content: space-between;
   
 }
