*{
    box-sizing: border-box;
}
/* selector de etiqueta */
body{
    background-color: rgb(175, 112, 138);
    color: rgb(250, 250, 250);
}
/* selector id*/
#contenedor{
    width: 900px;
    height: 5500px;
    background-color: rgb(175, 112, 138);
    margin: 10px;
    padding: 20px;

}
#encabezado{
   width: 90%;
   background-color: rgb(175, 112, 138);
   margin: 1em;
   border-radius: 5px;
   text-align: center;

}
.contenedorflex{
    display: flex;
    width: 600px;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: blue;
    padding: 10px;
    border: 2px solid black;
    text-align: end;
    justify-content: start;
}

.contenedorflex1{
    display: flex;
    width: 600px;
    flex-direction: row;
    justify-content: center;
    background-color: blue;
    padding: 10px;
    border: 2px solid black;  
}
.contenedorflex2{
    display: flex;
    width: 600px;
    flex-direction: row;
    justify-content: end;
    background-color: blue;
    padding: 10px;
    border: 2px solid black;  
}
.contenedorflex3{
    display: flex;
    width: 600px;
    flex-direction: row;
    justify-content: start;
    background-color: blue;
    padding: 10px;
    border: 2px solid black;  
}
.contenedorflex4{
    display: flex;
    width: 600px;
    flex-direction: row;
    justify-content: space-between;
    background-color: blue;
    padding: 10px;
    border: 2px solid black;  
}
.contenedorflex5{
    display: flex;
    width: 600px;
    flex-direction: row;
    justify-content: wrap-reverse;
    background-color: blue;
    padding: 10px;
    border: 2px solid black;  
}
.contenedorflex6{
    display: flex;
    width: 600px;
    flex-direction: row;
    align-items: center;
    background-color: blue;
    padding: 10px;
    border: 2px solid black;  
}
.contenedorflex7{
    display: flex;
    width: 600px;
    flex-direction: row;
    align-items: flex-end;
    background-color: blue;
    padding: 10px;
    border: 2px solid black;  
}
.contenedorflex8{
    display: flex;
    width: 600px;
    flex-direction: row;
    align-items: center;
    background-color: blue;
    padding: 10px;
    border: 2px solid black;  
    justify-content: space-around;
}
.contenedorflex9{
    display: flex;
    width: 600px;
    flex-direction: row;
    justify-content: center;
    background-color: blue;
    padding: 10px;
    border: 2px solid black;  
}
.item:hover{
    background-color: crimson;
}


.item{
    background-color: aquamarine;
    width: 100px;
    margin: 10px;
    border: 2px solid;
    text-align: center;
    line-height: 75px;
    font-size: 75px;
}