body {
  background-color: cadetblue;
}


.container {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #b38686;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="number"] {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #1815c9;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.resultado {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    width: 90%;
  
}
@media screen  and (max-width:1200px){
    body{
        background-color: rgb(226, 73, 168);
        color: blue;
    }
    .titulo{
        font-size: 30px;
    }
}
@media screen and (max-width:500px) {
    body{
        background-color: rgb(49, 231, 25);
        color: rgb(16, 17, 14);
    }
    .titulo{
        font-size: 25px;
    }
    .img{
        width: 70%;
    }
}

@media screen and (max-width:300) {
    body{
        background-color: #007bff;
        color: rgb(229, 229, 231);
    }
    .titulo{
        font-size:20px;
    }
    .img{
        width: 60%;
    }
}
@media screen and (max-width:200){
    body{
        background-color: rgb(91, 122, 54);
       color: aliceblue;
    }
    .titulo{
        font-size: 15px;
    }
    .img{
        width: 50%;
    }
}
