*{
    padding: 0;
}
.titulo{
    font-size: 40px;
    text-align: center;
}
.subtitulo{
    margin: 10px;
    text-align: center;
}
.img{
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}
.contener{
    border: 2px solid;
    margin: 10px;
    padding: 10px;
    background-color: rgb(63, 124, 179);
}
@media screen  and (max-width:1200px){
    body{
        background-color: rgb(226, 73, 168);
        color: blue;
    }
    .titulo{
        font-size: 30px;
    }
}
@media screen and (max-width:500px) {
    body{
        background-color: rgb(49, 231, 25);
        color: rgb(16, 17, 14);
    }
    .titulo{
        font-size: 25px;
    }
    .img{
        width: 70%;
    }
}

@media screen and (max-width:300) {
    body{
        background-color: crimson;
        color: blue;
    }
    .titulo{
        font-size:20px;
    }
    .img{
        width: 60%;
    }
}
@media screen and (max-width:200){
    body{
        background-color: rgb(39, 46, 139);
        color: rgb(134, 18, 250);
    }
    .titulo{
        font-size: 15px;
    }
    .img{
        width: 50%;
    }
}